* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What happens when we set the display property to flex? 
TODO: Display: we get a flex box. makes our container flexible. it controls how items within a container will grow or shrink relative to the container and/or other items in the page 
*/
nav {
  display: flex;
  background-color: #d8a47f;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* 
What is the flex-wrap property? 
TODO: flex-wrap tells whatever element it is applied to to move to the next row if there is no more space on the page
*/
main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 80px;
  text-align: center;
}


footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
What does the justify-content property do? 
TODO: aligns the flex elemtns and controls the empty space between them. justify-content is used to control the alignment of all items within a designated container
*/
.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
What is the flex property a shorthand property for?
What is it doing here? 
TODO: flex 0 (grow) 0 shrink (third value)(basis - initial size) means that the images will not grow or shrink in relation to other items in this container
*/
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/* 
What does the flex-direction property define?
What is it doing here? 
TODO: The flex-direction defines the direction of items within the container.
Here it is telling the nav items to format like a column when the page becomes less than 768px
*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
